@import url("https://fonts.googleapis.com/css?family=Lora|Anton|Teko|Shadows+Into+Light|Caveat|Philosopher|Allura|Girassol|Charm|Charmonman");
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic);

:root {
  --primary-dark: #A60A0F;
  --primary-light: #ffe3ac;
  --secondary-dark: #c2cdff;
  --secondary-lite: #8DA9C4;
  --white: #fff;

  --Lora: "Lora", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Lora);
}

html {
  scroll-behavior: smooth;

}

body {
  background: var(--white);
  background: transparent;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Glass */
.glass {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  /* Animated Bg */
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
  
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #hero-banner {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: 600px; */
    overflow: hidden;
    text-align: center;
  }
#hero-banner #video-box {
    height: 100vh;
    /* height: 600px; */
    width: 100%;
    /* opacity: 0.6; */
    filter: grayscale(0.15);
  }
  /* HeroVid */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#hero-banner {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* height: 600px; */
  overflow: hidden;
  text-align: center;
}

#hero-banner #video-box {
  height: 100vh;
  /* height: 600px; */
  width: 100%;
  /* opacity: 0.6; */
  filter: grayscale(0.15);
}

#hero-banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
}

.text {
  display: inline-block;
  font-size: .8em;
  font-weight: 300;
  margin: 0 0 20px 0;
  line-height: 1;
  color: #ffffff;
}

.text-sub {
  font-size: 0.5em;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  color: #ffffff;
}

#hero-content {
  position: absolute;
  width: 600px;
  height: 200px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: azure;
}


#hero-banner div button:nth-of-type(1) {
  background-color: #665dc3;
  transition: opacity 0.1s;
}

#hero-banner div button:nth-of-type(1):hover {
  opacity: 0.85;
}

#hero-banner div button:nth-of-type(2) {
  width: 142px;
  border: 1px solid #f0f0f0;
}

#hero-banner div button:nth-of-type(2):hover {
  opacity: 0.8;
}

div {
  background-color: transparent;
}

#hero-banner div h1 {
  color: black;
  font-size: 14em;
  margin-bottom: 16px;
  background-image: url(https://);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 200px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

/* /HeroVid */
  .hero-wrapper {
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
    font-family: "Libre Baskerville", serif;
    font-size: 62.5%;
  }
  
  .hero-wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
    width: 1px;
  }
  nav i {
    color: var(--primary-dark);
  }
  
  nav i:hover {
    color: var(--primary-light);
  }
  
#hero-banner #hero-button-container {
    padding: 40px;
    width: 600px;
    height: 200px;
    justify-content: center;
    color: azure;
    top: 120px;
    flex-direction: row;
    width: 400px;
  }
  
  #hero-button-container button {
    height: 40px;
    width: 113px;
    border-radius: 20px;
    margin: 10px;
    background-color: transparent;
    border: 1px ridge darkslategray;
    border: none;
    user-select: none;
    outline: none;
    color: azure;
    font-weight: 600;
  }
  
footer {
    padding: 4vmin 0 0 0;
 
    position: relative;
    /* margin-top: 5vh;
    margin-bottom: -5vh; */
    animation: animateBg 10s linear infinite;
    background-image: linear-gradient(90deg, #a60a0f, #e66100, #a60a0f, #660000, #a60a0f, #e66100);
    background-size: 400% 100%;
  }
  
  @keyframes animateBg {
    0% {
      background-position: 0% 0%;
    }
  
    100% {
      background-position: 100% 0%;
    }
  }
  
  .footer_top {
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer_top h3 {
    color: var(--white);
  }
  
  .footer_top p {
    color: var(--white);
  }
  
  .footer_top span {
    color: var(--white);
  }
  
  footer a {
    color: var(--white);
  }
  
  footer a:hover {
    text-decoration: none;
    color: var(--primary-light);
  }
  
  .social_icons {
    font-size: 20px;
    color: var(--white);
  }
  
  .social_icons i {
    margin-right: 1em;
    color: var(--white);
  }
  
  .social_icons i:hover {
    color: var(--primary-light);
  }
  
  .copy-right {
    margin-top: 2vmin;
    padding-bottom: 1vmin;
  }
  
  .copy-right p,
  .copy-right em {
    color: var(--white);
  }
  
  /* /Nav */
  
  /* HeroVid */
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  .bg-color.scrolled {
    background-color: #eef4ede8;
    transition: ease 1s;
  }
  
  nav .navbar-brand {
    font-weight: 900;
  }
  
  nav .navbar-brand img {
    width: 60px;
    height: 70px;
  }
  
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  
  .navbar-nav li {
    display: inline-block;
    float: none;
  }
  
  nav .nav-link {
    color: var(--primary-dark);
    text-transform: uppercase;
    font-weight: 400;
  }
  
  nav .nav-link:hover {
    color: var(--primary-light);
  }
  .info {
    -webkit-animation: info-appear 3s 1;
    -moz-animation: info-appear 3s 1;
    -o-animation: info-appear 3s 1;
    animation: info-appear 3s 1;
  }
  
  .infobox {
    width: 60%;
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  .infobox:before {
    position: absolute;
    left: 0;
    top: 0;
    content: " ";
    background: white;
    width: 0;
    height: 0;
    overflow: visible;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: opening-left 2s 1;
    -moz-animation: opening-left 2s 1;
    -o-animation: opening-left 2s 1;
    animation: opening-left 2s 1;
  }
  
  .infobox:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: " ";
    background: white;
    width: 0;
    height: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    overflow: visible;
    -webkit-animation: opening-right 2s 1;
    -moz-animation: opening-right 2s 1;
    -o-animation: opening-right 2s 1;
    animation: opening-right 2s 1;
  }
  
  .infobox .title {
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: -30px;
    margin-bottom: -30px;
  }
  
  .infobox .title h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.25em;
    /* margin-right: -0.3em; */
    position: relative;
    font-weight: 300;
    color: var(--white);
  }
  
  .infobox .links {
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
  .infobox .links a,
  .infobox .links a:hover,
  .infobox .links a:visited {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.2em;
    font-weight: 300;
    color: pink;
    letter-spacing: 0.3em;
    border: 1px solid pink;
    padding-left: 0.3em;
    -webkit-animation: bg 1.2s 2s ease-in-out 1;
    -moz-animation: bg 1.2s 2s ease-in-out 1;
    -o-animation: bg 1.2s 2s ease-in-out 1;
    animation: bg 1.2s 2s ease-in-out 1;
  }
  
  .infobox .links a:nth-child(2),
  .infobox .links a:hover:nth-child(2),
  .infobox .links a:visited:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 2.2s;
  }
  
  .infobox .links a:nth-child(3),
  .infobox .links a:hover:nth-child(3),
  .infobox .links a:visited:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
  }
  
  .infobox .links a:hover {
    background: yellow;
    color: #141414;
  }
  
  .infobox .subtitle {
    clear: both;
    position: relative;
    color: pink;
  }
  
  .infobox .subtitle:before,
  .infobox .subtitle:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 20%;
    height: 50%;
    border-bottom: 1px solid Crimson;
  }
  
  .infobox .subtitle:before {
    left: 0;
  }
  
  .infobox .subtitle:after {
    right: 0;
  }
  
  .infobox .subtitle span {
    font-family: "Alegreya", serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: italic;
  }
/* Slider */
/* Nav */
nav {
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 3px;
  }
  
  .bg-color.scrolled {
    background-color: #eef4ede8;
    transition: ease 1s;
  }
  
  nav .navbar-brand {
    font-weight: 900;
  }
  
  nav .navbar-brand img {
    width: 60px;
    height: 70px;
  }
  
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  
  .navbar-nav li {
    display: inline-block;
    float: none;
  }
  
  nav .nav-link {
    color: var(--primary-dark);
    text-transform: uppercase;
    font-weight: 400;
  }